@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&display=swap');

// :root {
//   --primary-color: #260801;
//   --secondary-color: #d98c5f;
//   --button-color: #591902;
//   --button-hover-color: #a65729;
//   --backgraund-color: #f2caa7;
//   --backgraund-color2: #f2caa782;
//   --body-font: "Cutive Mono", serif;
//   --font-secondary: "Courier Prime", serif;
// }

// body {
//   background-color: var(--backgraund-color2);
// }
// .newBook__body {
//   margin: auto;
//   display: flex;
//   justify-content: center;
//   gap: 50px;
  
//   input {
//     width: 50%;
//     height: 32px;
//     border-radius: 8px;
//     padding: 8px;
//     background: transparent;
//     color: #d98c5f;
//     border: 2px solid #d98c5f;
//   }
// }
// .newBook__field {
//   display: flex;
//   flex-direction: column;
//   gap: 4px;
// }
// .newBook__label {
//   color: #260801;
//   padding-left: 4px;
// }


/* Variáveis de cores e fontes */
// :root {
//   --marsala: #590606;
//   --navy-blue: #131837;
//   --olive-green: #3F4D24;
//   --orange: #CC5822;
//   --off-white: #F6F7EC;
//   --font-primary: 'Roboto', sans-serif;
// }

// body {
//   font-family: var(--font-primary);
//   background-color: var(--off-white);
//   color: var(--navy-blue);
//   margin: 0;
//   padding: 0;
// }

// .newBook-form {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 20px;
//   background: var(--off-white);
//   border: 2px solid var(--olive-green);
//   border-radius: 8px;
// }

// .newBook {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;
// }

// .newBook__title {
//   color: var(--marsala);
//   font-size: 2rem;
//   font-weight: bold;
//   margin-bottom: 20px;
//   text-align: center;
// }

// .newBook__body {
//   display: flex;
//   gap: 20px;
// }

// .newBook__left,
// .newBook_right {
//   flex: 1;
//   min-width: 300px;
// }

// .newBook__field {
//   margin-bottom: 15px;
// }

// .newBook__label {
//   display: block;
//   font-weight: bold;
//   color: var(--navy-blue);
//   margin-bottom: 5px;
// }

// .newBook__label__radio {
//   margin-left: 10px;
//   font-weight: normal;
// }

// .newBook__image,
// .newBook__rating,
// .newBook__pages,
// .newBook__newSerie,
// .newBook__collection,
// .newBook__flags,
// .newBook__title,
// .newBook__author,
// .newBook__category,
// .newBook__initDate,
// .newBook__finishDate,
// .newBook__quotes {
//   width: 100%;
//   padding: 10px;
//   font-size: 1rem;
//   border: 2px solid var(--olive-green);
//   border-radius: 4px;
// }

// .newBook__serie,
// .newBook__status,
// .newBook__language,
// .newBook__version {
//   width: 100%;
//   padding: 10px;
//   font-size: 1rem;
//   border: 2px solid var(--olive-green);
//   border-radius: 4px;
//   background-color: var(--off-white);
// }

// .newBook__quotes__btn {
//   background-color: var(--marsala);
//   color: var(--off-white);
//   border: none;
//   padding: 10px 15px;
//   font-size: 1rem;
//   cursor: pointer;
//   border-radius: 4px;
//   margin-left: 10px;
// }

// .newBook__quotes__btn:hover {
//   background-color: var(--orange);
// }

// .newBook__addedQuote__paragraph {
//   background-color: var(--olive-green);
//   color: var(--off-white);
//   padding: 5px;
//   border-radius: 4px;
//   margin: 5px 0;
// }

// .newBook__collection__check,
// .newBook__flags__check {
//   margin-right: 10px;
// }

// .newBook__submit {
//   width: 100%;
//   padding: 15px;
//   font-size: 1.2rem;
//   font-weight: bold;
//   background-color: var(--navy-blue);
//   color: var(--off-white);
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

// .newBook__submit:hover {
//   background-color: var(--marsala);
// }

// /* Layout responsivo */
// @media (max-width: 768px) {
//   .newBook {
//     flex-direction: column;
//   }

//   .newBook__left,
//   .newBook_right {
//     flex: none;
//     width: 100%;
//   }
// }


/* CSS para o componente de formulário */
/* Variáveis globais */
:root {
  /* Paleta de cores */
  --color-primary: #260101;
  --color-secondary: #400D01;
  --color-accent: #591902;
  --color-accent-light: #A65F37;
  --color-bg: #D9B89C; //ok
  --color-bg-light: #F2DCC2; //ok
  --color-blue: #012840; 
  --color-yeloow: #F7A83F;
  --color-green: #6A735C; 
  --color-terracota: #743014; 
  --color-brown: #482E1D; 

  /* Fontes */
  --font-primary: "Cutive Mono", serif;
  --font-secondary: "Courier Prime", serif;
  --font-title: "Cormorant", serif;

  /* Outros */
  --border-radius: 15px;
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  --transition: 0.3s ease;
}

/* CSS para o componente de formulário */
body {
  background-color: var(--color-blue);
  padding: 20px;
}

form {
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: var(--box-shadow);
  width: 80%;
  margin: auto;
}

.newBook__title {
  color: var(--color-yeloow);
  font-family: var(--font-title);
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 5px;
}

.newBook__label {
  color: var(--color-yeloow);
  font-size: 1.1rem;
}

.newBook__body {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 0;
}

.newBook__left {
  width: 33.33%;
}

.newBook__field {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.newBook_right {
  width: 66.66%;

  .newBook__right__details {
    border: 3px dotted var(--color-terracota);
    padding: 20px;
  }
  .newBook__right__date,
  .newBook__right__serie,
  .newBook__right__end {
    display: flex;
    justify-content: space-between;

    .init__date,
    .finish__date {
      width: 50%;
    }
  }

}


input[type="text"],
input[type="date"],
select {
  width: 100%;
  border: 1px solid var(--color-bg) ;
  background: var(--color-bg-light);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: var(--border-radius);
  box-shadow: inset 3px 3px 6px var(--color-bg-light),
    inset -3px -3px 6px var(--color-bg);
  transition: var(--transition);
  font-size: 0.7rem;
  color: var(--color-secondary);
}

input[type="text"]::placeholder {
  color: var(--color-secondary);
  opacity: 0.5;
}

input[type="date"]:disabled {
  opacity: 0.8;
}

.newBook__status {
  width: 24%;
}

.newBook__initDate,
.newBook__finishDate {
  width: 54% !important;
}
.newBook__field.quote {
  flex-direction: column;
  border: 3px dotted var(--color-terracota);
  padding: 20px;
}
.newBook__addQuote {
  display: flex;
  width: 100%;
  gap: 20px;

  input {
    width: 80%;
  }

  .newBook__quotes__btn {
    width: 20%;
    height: 34.4px;
    border-radius: 15px;
    border: none;
    background-color: var(--color-terracota);
    color: var(--color-bg);
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-weight: 700;

    &:hover {
      background-color: var(--color-accent-light);
    }
  }
}
.newBook__addedQuote {
  border: 1px solid var(--color-bg) ;
  background: var(--color-bg-light);
  min-width: 100%;
  min-height: 100px;
  border-radius: 15px;

  ul {
    padding: 10px 28px;
    color: var(--color-secondary);
  }
}

.newBook__field.img {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newBook__field.comments {
  flex-direction: column;
}

.newBook__image-preview {
  width: 240px;
  height: 300px;
  border-radius: 10px;

  &:hover {
    background: var(--color-bg);
  }
}

.newBook__preview {
  width: 260px;
  height: 320px;
  padding: 10px;
  border-radius: 15px;
  background: var(--color-bg-light);
  margin: auto;
  cursor: pointer;
}

.newBook__label.img {
  width: 17%;
  height: 40%;
  border-radius: 8px;
  border: none;
  background-color: var(--color-terracota);
  color: var(--color-bg);
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 700;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

input[type="file"],
.newBook__library,
.newBook__flags__check,
.newBook__collection__check {
  display: none;
}
// textarea {
//   resize: none;
//   height: 120px;
// }

input[type="text"]:focus,
textarea:focus {
  outline: none;
  box-shadow: inset 3px 3px 6px var(--color-accent),
    inset -3px -3px 6px var(--color-neutral);
}

.newBook__field.library {
  align-items: center;
  margin-bottom: 15px;
}

/* Estilo do interruptor */
.toggle-switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Bolinha interna do interruptor */
.toggle-switch::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estado "ligado" */
input[type="checkbox"]:checked + .toggle-switch {
  background-color: var(--color-accent);
  color: var(--color-green);
}

input[type="checkbox"]:checked + .toggle-switch::before {
  transform: translateX(30px); /* Move a bolinha para a direita */
}

.newBook__comments {
  width: 71%;
  height: 168px;
  border-radius: 15px;
  background: var(--color-bg-light);
  padding: 20px;
}

.newBook__field.flags,
.newBook__field.collection {
  flex-direction: column-reverse;
  width: 50%;
  justify-content: flex-end;
  padding: 20px;
  margin: 20px 0;
  border: 2px dotted var(--color-terracota);
}

.newBook__label.flag,
.newBook__label.collection {
  background: var(--color-bg-light);
  border-radius: 8px;
  min-width: 90px;
  text-align: center;
  min-height: 28px;
  text-align: center;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
  padding: 4px;
}

.newBook__flagsOptions,
.newBook__collectionsOptions {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

}
.newBook__newFlag,
.newBook__newCollection {
  display: flex;
  gap: 8px;
  align-items: baseline;
}
.newBook__flags,
.newBook__collection {
  width: 55% !important;
}

.newBook__submit {
  width: 30%;
  height: 38px;
  background: var(--color-yeloow);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  color: var(--color-blue);
  text-transform: uppercase;
  font-family: var(--font-title);
  font-weight: 700;
}

.newBook__field.version {
  border: 3px dotted var(--color-terracota);
  padding: 20px;
  margin: 20px 0;
}
// input[type="radio"] + label {
//   display: inline-block;
//   background-color: var(--color-secondary);
//   padding: 10px 20px;
//   border-radius: 15px;
//   margin-right: 10px;
//   cursor: pointer;
//   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
//   transition: transform 0.2s, box-shadow 0.2s;
//   color: var(--color-primary);
//   font-weight: bold;
// }

// input[type="radio"]:checked + label {
//   background-color: var(--color-primary);
//   transform: translateY(-3px);
//   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
// }

// button[type="submit"] {
//   width: 100%;
//   background-color: var(--color-accent);
//   color: var(--color-neutral);
//   padding: 12px;
//   font-size: 1.2rem;
//   border: none;
//   border-radius: 20px;
//   cursor: pointer;
//   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
//   transition: var(--transition);
// }

// button[type="submit"]:hover {
//   background-color: var(--color-accent-light);
//   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
//   transform: translateY(-2px);
// }

// article {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;
//   margin-bottom: 20px;
// }

// article > div {
//   flex: 1 1 45%;
//   min-width: 300px;
// }

// @media (max-width: 768px) {
//   article > div {
//     flex: 1 1 100%;
//   }
// }
// /* Estilo para checkbox */
// input[type="checkbox"] {
//   display: none;
// }

// input[type="checkbox"] + label {
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   cursor: pointer;
//   font-size: 1rem;
//   color: var(--color-primary);
//   padding: 10px;
//   border: 2px solid var(--color-secondary);
//   border-radius: var(--border-radius);
//   background: var(--color-neutral);
//   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
//   transition: var(--transition);
// }

// input[type="checkbox"]:checked + label {
//   background: var(--color-accent-light);
//   color: white;
//   box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
// }

// input[type="checkbox"] + label:hover {
//   background: var(--color-secondary);
//   color: white;
// }


// /* Estilo para o campo select */
// select {
//   width: 100%;
//   padding: 10px;
//   font-size: 1rem;
//   color: var(--color-primary);
//   background: var(--color-neutral-light);
//   border: 2px solid var(--color-secondary);
//   border-radius: var(--border-radius);
//   box-shadow: inset 2px 2px 6px var(--color-accent-light),
//     inset -2px -2px 6px var(--color-neutral);
//   transition: var(--transition);
//   appearance: none; /* Remove a seta padrão do select */
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23a65729'%3E%3Cpath d='M5.23 7.21a.75.75 0 011.06-.02L10 10.84l3.71-3.65a.75.75 0 111.04 1.08l-4.23 4.17a.75.75 0 01-1.06 0L5.21 8.27a.75.75 0 01.02-1.06z'/%3E%3C/svg%3E");
//   background-repeat: no-repeat;
//   background-position: right 10px center;
//   background-size: 12px;
// }

// select:focus {
//   outline: none;
//   border-color: var(--color-accent);
//   box-shadow: inset 2px 2px 6px var(--color-accent),
//     inset -2px -2px 6px var(--color-neutral);
// }

// /* Estilo para o campo de upload de imagem */
// input[type="file"] {
//   display: none;
// }

// input[type="file"] + label {
//   display: inline-block;
//   padding: 12px 20px;
//   font-size: 1rem;
//   font-family: var(--font-primary);
//   color: var(--color-primary);
//   background: var(--color-neutral);
//   border: 2px solid var(--color-secondary);
//   border-radius: var(--border-radius);
//   cursor: pointer;
//   text-align: center;
//   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
//   transition: var(--transition);
// }

// input[type="file"] + label:hover {
//   background: var(--color-secondary);
//   color: white;
// }

// input[type="file"] + label:active {
//   background: var(--color-accent-light);
//   box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
// }

